@font-face {
  font-family: myFirstFont;
  src: url(OpenSansCondensed-Light.ttf);
  
}


body {
  margin: auto 1.2 em;
  text-align: center;
  font-size: 1.3em;
  /*font-family: monospace;*/
  font-family: myFirstFont;
  line-height: 1.4em;
  text-shadow: 0.3px 0.3px 0 indigo;
  color: white;
 
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,#003399 0%,#9933cc 100%);
  background-blend-mode:darken;

}

/* unvisited link */
a:link {
  color: #ff9900;
}

/* visited link */
a:visited {
  color: #ff9900n;
}

/* mouse over link */
a:hover {
  color: #ff9900;
}

/* selected link */
a:active {
  color: #ff9900;
}

 

img {
  width: 60%;
}
